body {
    height: auto;
    background: #F4F7F8;
    overflow: auto;
    color: rgb(var(--color));
    width: 100%;
    color: #1c1a26;
    padding-bottom: 60px;
}
* {
    list-style: none;
    outline: none;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body::-webkit-scrollbar {
    display: block;
    width: 12px;
    background: #b8bebf;
  }
body::-webkit-scrollbar-thumb {
    background-color: #fff;
  
    border-radius: 50px;
}
#nav{

    height: 130px; 
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 60px;
    gap: 60px;
    position: fixed;
    justify-content: flex-start;
    z-index: 99;
}

#nav img{
    height:50px;
    margin-right: 100px;
}
#nav h4{
    font-weight: 500;
    margin-right: 60px;
}
#nav h4 a{
    text-decoration: none;
    color: black;
}
#nav h4:hover a{
      color: #95C11E;
      text-decoration: none;
}
#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 300px;
}

#nav-part2 i{
    margin-right: 60px;
    font-size: 21px;
    font-weight: 500;
}

.dropdown {
    float: left;
    overflow: hidden;
    padding-right: 20px;
}
  
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #000;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.dropdown .dropbtn:hover {
    color: #000;
}
  
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #b8bebf;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #b8bebf;
    border-radius: 20px;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
.con-cards {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 10px;
    padding-left: 20px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.con-cards:after {
    content: '';
    position: relative;
    min-width: 50px;
    height: 10px;
    background: transparent;
}
.con-cards::-webkit-scrollbar {
    height: 0px;
}
.card {
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,.05);
    padding: 15px;
    border-radius: 35px;
    width: 260px;
    min-width: 260px;
    position: relative;
    margin: 0px 15px;
    background: #fff;
    scroll-snap-align: center;
    transition: all .25s ease;
    border: 2px solid #fff;
}
.add-active {
    box-shadow: 0px 10px 30px 0px rgba(254, 160, 26, .2);
    border: 2px solid #fea01a;
}
.add-active .add {
    display: none;
}
.add-active .con-image img:not(.bg) {
    transform: scale(1.15);
}
.add-active .con-input-btns {
    display: flex;
}
.con-star {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 30px;
    font-size: 1.2rem;
}
.con-image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    border-radius: 30px;
    background: #f5f5f5;
}
.con-image img {
    width: 250px;
    z-index: 20;
    transition: all .25s ease;
}
.con-image .bg {
    position: absolute;
    transform: translate(10px, 30px);
    z-index: 10;
    filter: blur(20px);
    opacity: .4;
}
.con-text {
    width: 100%;
    padding: 10px 0px;
    opacity: .5;
    font-size: .8rem;
}
.con-text h3 {
    padding: 5px 0px;
}
.con-price {
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    font-size: 1.1rem;
    padding-top: 0px;
}
.add {
    width: 100%;
    padding: 15px;
    background: linear-gradient(130deg, #fdc527 0%, #fea01a 100%);
    border: 0px;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
}
.con-input-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.con-input-btns input {
    padding: 10px;
    flex: 1;
    width: calc(100% - 100px);
    height: 49px;
    border: 0px;
    border-bottom: 2px solid #f5f5f5;
    text-align: center;
    font-size: 1.3rem;
}
.con-input-btns button {
    padding: 10px;
    min-width: 49px;
    height: 49px;
    border: 0px;
    border-radius: 20px;
    background: linear-gradient(130deg, #fdc527 0%, #fea01a 100%);
    color: #fff;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .25s ease;
}
.con-input-btns button:active {
    transform: scale(.8);
}