.bg {
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(50% 50%at 50% 50%, #515151, #060505 66.1%);
  width: 1600px;
  height: 960px;
}
.frame-child {
  position: absolute;
  top: 113px;
  left: 972px;
  border-radius: 50%;
  background-color: rgba(123, 121, 121, 0.25);
  backdrop-filter: blur(34px);
  width: 326px;
  height: 336px;
}
.nike-shoe-1-icon {
  position: absolute;
  top: 49px;
  left: 0;
  width: 941px;
  height: 850.69px;
  object-fit: cover;
}
.subject-child {
  position: absolute;
  top: 875px;
  left: 246px;
  border-radius: 50%;
  background: linear-gradient(-90deg, rgba(61, 60, 60, 0.58) 10.75%, #4c4a4a);
  filter: blur(45px);
  width: 695px;
  height: 51px;
}
.subject {
  position: absolute;
  top: -49px;
  left: 659px;
  width: 1003.7px;
  height: 926px;
}
.frame-inner,
.frame-item {
  position: absolute;
  top: 197px;
  left: 1435px;
  border-radius: 50%;
  background-color: var(--color-gray-100);
  backdrop-filter: blur(34px);
  width: 165px;
  height: 168px;
}
.frame-inner {
  top: 480px;
  left: 1161px;
  width: 159px;
  height: 167px;
}
.grey-max {
  position: absolute;
  top: 205px;
  left: 186px;
  font-size: 160px;
  font-weight: 900;
}
.cart-child,
.ellipse-icon {
  position: absolute;
  top: 323px;
  left: 769px;
  width: 137px;
  height: 147px;
}
.cart-child {
  top: 0;
  left: 0;
  border-radius: 21px;
  background-color: #7a7777;
  width: 175px;
  height: 67px;
}
.add-to-cart {
  position: absolute;
  top: 18px;
  left: 23px;
  font-weight: 700;
}
.cart {
  position: absolute;
  top: 799px;
  left: 186px;
  width: 175px;
  height: 67px;
}
.nike-grey-max {
  margin: 0;
}
.nike-grey-max-container {
  position: absolute;
  top: 397px;
  left: 198px;
  font-size: var(--font-size-21xl);
  font-weight: 500;
}
.home,
.i {
  font-weight: 500;
}
.i {
  position: absolute;
  top: 462px;
  left: 198px;
  font-size: var(--font-size-21xl);
}
.home {
  position: relative;
}
.home-parent {
  position: absolute;
  top: 36px;
  left: 440px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 55px;
  font-size: var(--font-size-11xl);
}
.just-buy-this {
  position: absolute;
  top: 619px;
  left: 198px;
  line-height: 135%;
  display: inline-block;
  font-weight: 500;
  width: 662px;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #bbbcbe;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 143px;
  height: 960px;
}
.style-takes-over {
  position: absolute;
  top: 180px;
  left: 92px;
  font-size: 35px;
  letter-spacing: 0.83em;
  line-height: 126.5%;
  font-family: var(--font-didact-gothic);
  color: #0e0e0e;
  display: inline-block;
  width: 767.57px;
  transform: rotate(89.84deg);
  transform-origin: 0 0;
}
.nike-icon {
  position: absolute;
  top: 12.21px;
  left: 14.21px;
  width: 113.57px;
  height: 113.57px;
  object-fit: cover;
}
.bg-parent {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 960px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-white);
  font-family: var(--font-barlow);
}
